.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/
.idea/
*.iml
.vscode/
android/.gradle/
android/local.properties
**/key.properties
**/*.jks
**/*.keystore
windows/flutter/ephemeral/
installer-output/
.DS_Store
Thumbs.db
